---
permalink: /feed/index.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>Rohit Kumar</title>
  <subtitle>A personal website</subtitle>
  <link href="https://rohit.online/feed/" rel="self"/>
  <link href="https://rohit.online/"/>
  <updated>{{ "now" | date }}</updated>
  <id>https://rohit.online/</id>
  <author>
    <name>Rohit Kumar</name>
    <email>your-email@example.com</email>
  </author>
  {%- for post in collections.posts | reverse %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="https://rohit.online{{ post.url }}"/>
    <updated>{{ post.date | date }}</updated>
    <id>https://rohit.online{{ post.url }}</id>
    <content type="html">{{ post.templateContent | safe }}</content>
  </entry>
  {%- endfor %}
</feed> 